body {
  background-color: black;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
  margin-top: 100px;
}

input, button {
  background: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 10px;
  font-family: monospace;
}
* {
  pointer-events: auto !important;
}

button {
  cursor: pointer;
  position: relative;
  z-index: 9999;
}
